<p id="notice"><%= notice %></p>

<h1>Listing Project Contracts</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Contract</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_contracts.each do |project_contract| %>
      <tr>
        <td><%= project_contract.project_id %></td>
        <td><%= project_contract.contract %></td>
        <td><%= link_to 'Show', project_contract %></td>
        <td><%= link_to 'Edit', edit_project_contract_path(project_contract) %></td>
        <td><%= link_to 'Destroy', project_contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project contract', new_project_contract_path %>
