<%= form_for @project, :html => { :class => "form-horizontal project" } do |f| %>

  <% if @project.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <h3>Project Information</h3>
  <hr>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
    
    <% if @project_picons.exists? %>
    <%= f.label :project_Icon, :class => 'control-label col-lg-2'  %>
      <div class="col-lg-4">
        <% @project_picons.each do |p| %>
              <div class="form-control">
                <%= image_tag p.picon_url, :class => 'form-control-image' %>
                <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                    edit_project_picon_path(p), :class => 'form-control-button',
                    :title => 'Edit Attachment', :style => 'color:#428bca;'  %>
                <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                    project_picon_path(p),
                    :method => 'delete', :class => 'form-control-button',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :title => 'Delete Attachment', :style => 'color:#d9534f;'  %>
              </div>
        <% end %>
      </div>
    <% else %>  
         <%= f.label :project_Icon, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-4">
         <%= f.file_field :picon, :multiple => true, name: "project_picons[picon][]", :class => 'form-control' %>
         </div>
    <% end %>
  </div> 
  

  
  <div class="form-group">
    <%= f.label :street, :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.text_field :primary_street, :class => 'form-control' %>
    </div>
    <%=f.error_span(:primary_street) %>

    
    <%= f.label :city, :class => 'control-label col-lg-1' %>
    <div class="col-lg-2">
      <%= f.text_field :primary_city, :class => 'form-control' %>
    </div>
    <%=f.error_span(:primary_city) %>

    
    <%= f.label :state, :class => 'control-label col-lg-1' %>
    <div class="col-lg-1">
      <%#= f.text_field :primary_state, :class => 'form-control' %>
      <%= f.select :primary_state, ['AL', 'AK', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], {include_blank: true}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:primary_state) %>
 
    <%= f.label :zip, :class => 'control-label col-lg-1' %>
    <div class="col-lg-1">
      <%= f.text_field :primary_zip, :class => 'form-control' %>
    </div>
    <%=f.error_span(:primary_zip) %>
  </div>
  
    <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :brief_description, :class => 'form-control' %>
      <%= f.text_area :brief_description, :rows => 4, :class => 'form-control' %>
    </div>
    <%=f.error_span(:brief_description) %>
  </div>
  
  <div class="form-group">
    <%= f.label :team_lead, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.select :nbd, ['Michael', 'Brandy', 'Jeremy'], {include_blank: true}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nbd) %>
  </div>

  <div class="form-group">
    <%= f.label :project_status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%#= f.text_field :project_status, :class => 'form-control' %>
      <%= f.select :project_status, ['Prospect', 'In Process', 'Complete'], {include_blank: false}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_status) %>
    
    <div class="prospect_form">
      <%= f.label :phase, :class => 'control-label col-lg-1' %>
      <div class="col-lg-2">
        <%= f.select :phases, ['(1) Marketing', '(2) Contact', '(3) Profile', '(4) Project', '(5) Meeting', '(6) Proposal', '(7) Interview', '(8) Agreement', '(9) Start Date'], {include_blank: false}, :class => 'form-control' %>
      </div>
      <%=f.error_span(:phases) %>
    </div>
    
        <%= f.label "Services", :class => 'control-label col-lg-1' %>
        <div class="col-lg-4">
          <%= f.collection_check_boxes :service_ids, Service.all, :id, :name do |b| %>
            <div class="collection-check-box-altered">
              <%= b.check_box %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
  </div>
   


<!-- Everything above here is on the form no matter the status -->    

<!-- 1 prospect form only -->  
<div class="prospect_form"> 

  <h3>Client</h3>
  <hr style="clear:both;">
  
  <div class="form-group">
    <%= f.label :client_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :client_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:client_name) %>



    <% if @project_cicons.exists? %>
    <%= f.label :client_Icon, :class => 'control-label col-lg-2'  %>
        <div class="col-lg-4">
          <% @project_cicons.each do |p| %>
          <div class="form-control">
                <%= image_tag p.cicon_url, :class => 'form-control-image' %>
          
                <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                      edit_project_cicon_path(p), :class => 'form-control-button',
                      :title => 'Edit Attachment', :style => 'color:#428bca;'  %>
                <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                      project_cicon_path(p),
                      :method => 'delete', :class => 'form-control-button', 
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :title => 'Delete Attachment', :style => 'color:#d9534f;'  %>
                </div>
                
          <% end %>
        </div>
    
    <% else %>
    
     <%#= f.fields_for :project_picons do |p| %>
         <%= f.label :client_icon, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-4">
         <%= f.file_field :cicon, :multiple => true, name: "project_cicons[cicon][]", :class => 'form-control' %>
         </div>
     <%# end %>
    <% end %>
  </div>  
  
  
  <div class="form-group">
    <%= f.label :client_contact, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :client_contact, :class => 'form-control' %>
    </div>
    <%=f.error_span(:client_contact) %>
  </div>
  
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>

    <%= f.label :telephone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :telephone, :class => 'form-control',
      :onkeydown => 'javascript:backspacerDOWN(this,event);', :onkeyup => 'javascript:backspacerUP(this,event);' %>
    </div>
    <%=f.error_span(:telephone) %>
  </div>

  <div class="form-group">
    <%= f.label :correspondence_notes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :correspondence_notes, :class => 'form-control' %>
      <%= f.text_area :correspondence_notes, :rows => 4, :class => 'form-control' %>
    </div>
    <%=f.error_span(:correspondence_notes) %>
  </div>

      <div class="form-group">
        <%= f.label :billing_address, :class => 'control-label col-lg-2' %>
        <div class="col-lg-3">
          <%= f.text_field :billing_street, :class => 'form-control' %>
        </div>
        <%=f.error_span(:billing_street) %>
    
        
        <%= f.label :city, :class => 'control-label col-lg-1' %>
        <div class="col-lg-2">
          <%= f.text_field :billing_city, :class => 'form-control' %>
        </div>
        <%=f.error_span(:billing_city) %>
    
        
        <%= f.label :state, :class => 'control-label col-lg-1' %>
        <div class="col-lg-1">
          <%#= f.text_field :billing_state, :class => 'form-control' %>
          <%= f.select :billing_state, ['AL', 'AK', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], {include_blank: true}, :class => 'form-control' %>
        </div>
        <%=f.error_span(:billing_state) %>
    
    
        <%= f.label :zip, :class => 'control-label col-lg-1' %>
        <div class="col-lg-1">
          <%= f.text_field :billing_zip, :class => 'form-control' %>
        </div>
        <%=f.error_span(:billing_zip) %>
      </div>

</div>
<!-- 1 end -->

<!-- 2 Everything here is for prospect status only -->
<div class="prospect_form"> 

  <div class="form-group">
    <%= f.label :client_meeting, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :client_meeting, 'data-provide' => 'datepicker', :class => 'form-control' %>
    </div>
    <%=f.error_span(:client_meeting) %>
  </div>
  
  <h3>Client Documents</h3>
  <hr>

  <div class="form-group">  
  <% if @project_proposals.exists? %>
    <%= f.label :proposal, :class => 'control-label col-lg-2'  %>
      <div class="col-lg-10">
        <% @project_proposals.each do |p| %>
   
              <div class="form-control" style="height:50px;">
              <%= link_to p.proposal_url, p.proposal_url, :target => '_blank', :style => 'font-size:10pt;' %>
              <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                    edit_project_proposal_path(p), :class => 'btn btn-primary', 
                    :title => 'Edit Attachment'  %>
              <%#= link_to "Destroy Attachment", destroy_associate_attachment_path(p) %>
              <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                    project_proposal_path(p),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger', :title => 'Delete Attachment'  %>
              </div>
              
        <% end %>
      </div>
    
    <% else %>  
      <%#= f.fields_for :project_proposals do |p| %>
         <%= f.label :proposal, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-10">
         <%= f.file_field :proposal, :multiple => true, name: "project_proposals[proposal][]", :class => 'form-control' %>

         </div>
     <%# end %>
    <% end %>
    </div>
    
  <div class="form-group">  
  <% if @project_contracts.exists? %>
    <%= f.label :contract, :class => 'control-label col-lg-2'  %>
      <div class="col-lg-10">
        <% @project_contracts.each do |p| %>
   
              <div class="form-control" style="height:50px;">
              <%= link_to p.contract_url, p.contract_url, :target => '_blank', :style => 'font-size:10pt;' %>
              <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                    edit_project_contract_path(p), :class => 'btn btn-primary', 
                    :title => 'Edit Attachment'  %>
              <%#= link_to "Destroy Attachment", destroy_associate_attachment_path(p) %>
              <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                    project_contract_path(p),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger', :title => 'Delete Attachment'  %>
              </div>
              
        <% end %>
      </div>
    
    <% else %>  
      <%#= f.fields_for :project_contracts do |p| %>
         <%= f.label :contract, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-10">
         <%= f.file_field :contract, :multiple => true, name: "project_contracts[contract][]", :class => 'form-control' %>

         </div>
     <%# end %>
    <% end %>
  </div>
  
    <div class="form-group">  
  <% if @project_prevcontracts.exists? %>
    <%= f.label :revised_contract, :class => 'control-label col-lg-2'  %>
      <div class="col-lg-10">
        <% @project_prevcontracts.each do |p| %>
              <div class="form-control">
              <%= link_to p.prevcontract_url, p.prevcontract_url, :target => '_blank', :style => 'margin-right: 4px;vertical-align:top;' %>
              <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                    edit_project_prevcontract_path(p), :class => 'form-control-button', 
                    :style => 'color:#428bca', :title => 'Edit Attachment'  %>
              <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                    project_prevcontract_path(p),
                    :method => 'delete', :style => 'color:#d9534f;',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'form-control-button', :title => 'Delete Attachment'  %>
              </div>
        <% end %>
      </div>
    <% else %>  
         <%= f.label :revised_contract, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-10">
         <%= f.file_field :prevcontract, :multiple => true, name: "project_prevcontracts[prevcontract][]", :class => 'form-control' %>
         </div>
    <% end %>
  </div>
  
</div>
<!-- 2 end -->

<!-- 3 only available in process -->
<div class="in_process_form">
  <h3>Progress</h3>
  <hr style="clear:both;">
  <div class="form-group">
    <%= f.label :project_start, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :project_start, 'data-provide' => 'datepicker', :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_start) %>
  </div>
  <div class="form-group">
    <%= f.label :project_finish, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :project_finish, 'data-provide' => 'datepicker', :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_finish) %>
  </div>
</div>
<!-- 3 end -->


<!-- 5 only available in process -->
<div class="in_process_form"> 
  <h3>Additional notes</h3>
  <hr style="clear:both;">
  
  <div class="form-group">
    <%= f.label :deal_terms, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%#= f.text_field :deal_terms, :class => 'form-control' %>
      <%= f.select :deal_terms, ['Hourly', 'Monthly', 'One Time'], {include_blank: true}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:deal_terms) %>

    
    <%= f.label :rate, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :rate, :class => 'form-control' %>
    </div>
    <%=f.error_span(:rate) %>
  </div>
  
  <hr style="clear:both;">
  <div class="form-group">
    <%= f.label :staffing_notes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :staffing_notes, :class => 'form-control' %>
      <%= f.text_area :staffing_notes, :rows => 4, :class => 'form-control' %>
    </div>
    <%=f.error_span(:staffing_notes) %>
  </div>
  
  <div class="form-group">
    <%= f.label :additional_terms, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :additional_terms, :class => 'form-control' %>
      <%= f.text_area :additional_terms, :rows => 4, :class => 'form-control' %>
    </div>
    <%=f.error_span(:additional_terms) %>
  </div>
</div>
<!-- 5 end -->

<!-- 6 only available in process -->
<div class="in_process_form">    
  <hr style="clear:both;">

</div>
<!-- 6 end -->

<!-- 6 only available in process -->
<div class="in_process_form"> 
  <h3>Documents</h3>
  <hr>
  <div class="form-group">  
   <%= f.label :invoice, :class => 'control-label col-lg-2'  %>
   <div class="col-lg-10">
   <%= f.file_field :invoice, :multiple => true, name: "project_invoices[invoice][]", :class => 'form-control' %>
   </div>
  </div>
  
  <div class="form-group">  
   <%= f.label :w9, :class => 'control-label col-lg-2'  %>
   <div class="col-lg-10">
   <%= f.file_field :pw9, :multiple => true, name: "project_pw9s[pw9][]", :class => 'form-control' %>
   </div>
  </div>
  
  <div class="form-group">  
   <%= f.label :document, :class => 'control-label col-lg-2'  %>
   <div class="col-lg-10">
   <%= f.file_field :pdocument, :multiple => true, name: "project_pdocuments[pdocument][]", :class => 'form-control' %>
   </div>
  </div>
</div> 
<!-- 6 end --> 

<!-- 7 only available Complete -->  
<div class="complete_form">
  <hr style="clear:both;">
    <div class="form-group">
      <%= f.label "Project Grand Total", :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :grand_total, :class => 'form-control' %>
      </div>
      <%=f.error_span(:grand_total) %>
    </div>  
</div>
<!-- 7 end -->

<!-- 8 always available -->    
  <hr>
  
  <div class="form-group">
    <%= f.label :doc_links, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :doc_links, :class => 'form-control tag-test' %>
    </div>
    <%=f.error_span(:doc_links) %>
  </div>
  <hr>
<!-- 8 always available end -->  

  
    <script type="text/javascript">
    $(document).ready(function() {
        $(".tag-test").tagit({
        
            // Options
            fieldName: "doc_links",
            //availableTags: ["c++", "java", "php", "javascript", "ruby", "python", "c"],
            //autocomplete: {delay: 0, minLength: 2},
            //showAutocompleteOnFocus: false,
            removeConfirmation: false,
            caseSensitive: true,
            allowDuplicates: false,
            allowSpaces: false,
            readOnly: false,
            tagLimit: null,
            singleField: false,
            singleFieldDelimiter: ',',
            singleFieldNode: null,
            tabIndex: null,
            placeholderText: null,
        
            // Events
            onTagClicked: function(event, ui) {
                console.log(ui.tag);
                console.log(ui.tagLabel);
                //window.location = ui.tag;
                window.open(ui.tagLabel);
            },
            onTagLimitExceeded: function(event, ui) {
                console.log(ui.tag);
            }
        
        });

    });
  </script>
  
  
  
  
  
  

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>


 <script>
    $(document).ready(function(){
      //first checking to see what it is and changing
     if ($('#project_project_status').val() == "Prospect"){
        $(".prospect_form").show();
     }
     else {
        $(".prospect_form").hide();
     }
     if ($('#project_project_status').val() == "In Process"){
        $(".in_process_form").show();
     }
     else {
        $(".in_process_form").hide();
     }
     if ($('#project_project_status').val() == "Complete"){
        $(".complete_form").show();
     }
     else {
        $(".complete_form").hide();
     }
      //end checking to see what it is and changing
      
      
      //then if the status changes
      $("#project_project_status").change(function() {
        if ($("#project_project_status").val()=="Prospect")
          $(".prospect_form").show();
        else
          $(".prospect_form").hide();
      });
      
      $("#project_project_status").change(function() {
        if ($("#project_project_status").val()=="In Process")
          $(".in_process_form").show();
        else
          $(".in_process_form").hide();
      });
      
      $("#project_project_status").change(function() {
        if ($("#project_project_status").val()=="Complete")
          $(".complete_form").show();
        else
          $(".complete_form").hide();
      });
      //end if the status changes
    });
 </script>
