<%= form_for @project, :html => { :class => "form-horizontal project" } do |f| %>

  <% if @project.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  
  <div class="form-group">
    <%= f.label :project_status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%#= f.text_field :project_status, :class => 'form-control' %>
      <%= f.select :project_status, ['Prospect', 'In Process', 'Complete'], {include_blank: true}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_status) %>
  </div>

  <div class="form-group">  
      <%#= f.fields_for :project_picons do |p| %>
         <%= f.label :project_Icon, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-4">
         <%= f.file_field :picon, :multiple => true, name: "project_picons[picon][]", :class => 'form-control' %>

         </div>
     <%# end %>
  </div>
  
  <hr>
  
  <div class="form-group">
    <%= f.label :client_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :client_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:client_name) %>
  </div>
  
  <div class="form-group">
    <%= f.label :client_street, :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.text_field :primary_street, :class => 'form-control' %>
    </div>
    <%=f.error_span(:primary_street) %>

    
    <%= f.label :city, :class => 'control-label col-lg-1' %>
    <div class="col-lg-2">
      <%= f.text_field :primary_city, :class => 'form-control' %>
    </div>
    <%=f.error_span(:primary_city) %>

    
    <%= f.label :state, :class => 'control-label col-lg-1' %>
    <div class="col-lg-1">
      <%#= f.text_field :primary_state, :class => 'form-control' %>
      <%= f.select :primary_state, ['AL', 'AK', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], {include_blank: true}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:primary_state) %>

    
    <%= f.label :zip, :class => 'control-label col-lg-1' %>
    <div class="col-lg-1">
      <%= f.text_field :primary_zip, :class => 'form-control' %>
    </div>
    <%=f.error_span(:primary_zip) %>
  </div>
  
  <hr>
  

  <div class="form-group">
    <%= f.label :client_contact, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :client_contact, :class => 'form-control' %>
    </div>
    <%=f.error_span(:client_contact) %>
  </div>
  <div class="form-group">
    <%= f.label :client_meeting, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :client_meeting, :class => 'form-control' %>
    </div>
    <%=f.error_span(:client_meeting) %>
  </div>
  <div class="form-group">
    <%= f.label :client_proposal, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :client_proposal, :class => 'form-control' %>
      <%= f.text_area :client_proposal, :rows => 4, :class => 'form-control' %>
    </div>
    <%=f.error_span(:client_proposal) %>
  </div>
  
  <hr>
  
  <div class="form-group">
    <%= f.label :project_start, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :project_start, :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_start) %>
  </div>
  <div class="form-group">
    <%= f.label :project_finish, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :project_finish, :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_finish) %>
  </div>
  
  <hr>
  
  <div class="form-group">
    <%= f.label :billing_address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.text_field :billing_street, :class => 'form-control' %>
    </div>
    <%=f.error_span(:billing_street) %>

    
    <%= f.label :city, :class => 'control-label col-lg-1' %>
    <div class="col-lg-2">
      <%= f.text_field :billing_city, :class => 'form-control' %>
    </div>
    <%=f.error_span(:billing_city) %>

    
    <%= f.label :state, :class => 'control-label col-lg-1' %>
    <div class="col-lg-1">
      <%#= f.text_field :billing_state, :class => 'form-control' %>
      <%= f.select :billing_state, ['AL', 'AK', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], {include_blank: true}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:billing_state) %>


    <%= f.label :zip, :class => 'control-label col-lg-1' %>
    <div class="col-lg-1">
      <%= f.text_field :billing_zip, :class => 'form-control' %>
    </div>
    <%=f.error_span(:billing_zip) %>
  </div>
  
  <hr>
  
  <div class="form-group">
    <%= f.label :brief_description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :brief_description, :class => 'form-control' %>
      <%= f.text_area :brief_description, :rows => 4, :class => 'form-control' %>
    </div>
    <%=f.error_span(:brief_description) %>
  </div>
  <div class="form-group">
    <%= f.label :staffing_notes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :staffing_notes, :class => 'form-control' %>
      <%= f.text_area :additional_terms, :rows => 4, :class => 'form-control' %>
    </div>
    <%=f.error_span(:staffing_notes) %>
  </div>
  
  <hr>
  
  <div class="form-group">
    <%= f.label :deal_terms, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%#= f.text_field :deal_terms, :class => 'form-control' %>
      <%= f.select :deal_terms, ['Hourly', 'Monthly', 'One Time'], {include_blank: true}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:deal_terms) %>

    
    <%= f.label :rate, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :rate, :class => 'form-control' %>
    </div>
    <%=f.error_span(:rate) %>
  </div>

  <div class="form-group">
    <%= f.label :additional_terms, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :additional_terms, :class => 'form-control' %>
      <%= f.text_area :additional_terms, :rows => 4, :class => 'form-control' %>
    </div>
    <%=f.error_span(:additional_terms) %>
  </div>
  
  <hr>
  

  <div class="form-group">
    <%= f.label :doc_links, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :doc_links, :class => 'form-control' %>
    </div>
    <%=f.error_span(:doc_links) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
