<%- model_class = Project -%>

<!-- Back buttons -->
  <div class="col-lg-12" style="text-align:center;">
    
      <%= link_to '<i class="fa fa-chevron-left"></i>'.html_safe,
                    projects_path, :class => 'btn btn-default',
                    :title => 'Back to Projects' %>
      <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                    edit_project_path(@project), :class => 'btn btn-primary', 
                    :title => 'Edit Project'  %>
      <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                    project_path(@project),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger', :title => 'Delete Project' %>
    <hr>
  </div>
<!-- end Back buttons -->

<!-- left column 1/3 -->
  <div class="col-lg-4">
    <% @project_picons.each do |p| %>
          <%= image_tag p.picon_url, :style => 'max-width:100%;padding:5%;' %>
    <% end %>
    
    <hr>
    
    <% if @project.client_name.length >= 1 %>
      <p style="text-align:center;">Client: <%= @project.client_name %></p>
    <% end %>
    
    <% @project_cicons.each do |p| %>
      <%= image_tag p.cicon_url, :style => 'max-width:100%;padding:5%;' %>
    <% end %>
  </div>
<!-- end left column 1/3 -->

<!-- right column 2/3 -->
  <div class="col-lg-8">
    <div class="show1">
            <%= @project.name %>
            
            <span style="margin-left:40px;">
              <% if @project.project_status == 'In Process' %>
                <i class="fa fa-check" style="color:#e78b23" title="In Process"></i> In Process
              <% elsif @project.project_status == 'Complete' %>
                <i class="fa fa-check" style="color:#e661ac" title="Complete"></i> Complete
              <% else %>
                <i class="fa fa-check" style="color:#6991fd" title="Prospect"></i> Prospect
              <% end %>
              
            </span>
    </div>
    
    <hr>

      <div class="show2">
        <% if @project.project_status == 'Prospect' %>
          <span class="prospect_form"><u>Prospect Phase</u>: <%= @project.phases %></span>
            <% if @project.phases == '(1) Marketing' %>
              <br><%= image_tag("progress1.png", style: "max-width:100%;margin-top:20px;") %>
            <% end %>
            <% if @project.phases == '(2) Contact' %>
              <br><%= image_tag("progress2.png", style: "max-width:100%;margin-top:20px;") %>
            <% end %>
            <% if @project.phases == '(3) Profile' %>
              <br><%= image_tag("progress3.png", style: "max-width:100%;margin-top:20px;") %>
            <% end %>
            <% if @project.phases == '(4) Project' %>
              <br><%= image_tag("progress4.png", style: "max-width:100%;margin-top:20px;") %>
            <% end %>
            <% if @project.phases == '(5) Meeting' %>
              <br><%= image_tag("progress5.png", style: "max-width:100%;margin-top:20px;") %>
            <% end %>
            <% if @project.phases == '(6) Proposal' %>
              <br><%= image_tag("progress6.png", style: "max-width:100%;margin-top:20px;") %>
            <% end %>
            <% if @project.phases == '(7) Interview' %>
              <br><%= image_tag("progress7.png", style: "max-width:100%;margin-top:20px;") %>
            <% end %>
            <% if @project.phases == '(8) Agreement' %>
              <br><%= image_tag("progress8.png", style: "max-width:100%;margin-top:20px;") %>
            <% end %>
            <% if @project.phases == '(9) Start Date' %>
              <br><%= image_tag("progress9.png", style: "max-width:100%;margin-top:20px;") %>
            <% end %>
          <hr>
        <% end %>
      </div>

    <% if @project.nbd.length >= 1 %>
      <div class="col-lg-6" style="padding-left:0;">
        <div class="show3">      
            <u><%= model_class.human_attribute_name(:nbd) %></u>:
            <%= @project.nbd %>
        </div>
      </div>
    <% end %>

    <% if @services.length >= 1 %>
      <div class="col-lg-6" style="padding-left:0;">
        <div class="show3">
              <span>
                Services Provided:
                <% @services.each do |p| %>
                  <%= p.name %> 
                <% end %>
              </span>
        </div>
      </div>
    <% end %>
    
    <% if @project.nbd.length >= 1 || @services.length >= 1 %>
    <hr style="clear:both;">
    <% end %>    
    
    <% if @project.brief_description.length >= 1 %>    
    <div class="show3">
      <u><%= model_class.human_attribute_name(:description) %>:</u><br>
      <%= simple_format(@project.brief_description) %>
    </div>
    <% end %>
    
    <% if @project.brief_description.length >= 1 %> 
    <hr style="clear:both;">
    <% end %>  

    
    <div class="show3">
      <table style="width:100%">
        <tr>
          <% if @project.primary_street.length >= 1 %>
            <td style="width:50%">
              <u><%= model_class.human_attribute_name(:primary_address) %>:</u><br>
              <%= @project.client_name %><br>
              <%= @project.primary_street %><br>
              <%= @project.primary_city %> <%= @project.primary_state %> <%= @project.primary_zip %>
            </td>
          <% end %>
          
          <% if @project.billing_street.length >= 1 %>        
            <td>        
              <u><%= model_class.human_attribute_name(:billing_address) %>:</u><br>
              <%= @project.client_name %><br>
              C/O: <%= @project.client_contact %><br>
              <%= @project.billing_street %><br>
              <%= @project.billing_city %> <%= @project.billing_state %> <%= @project.billing_zip %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
    
    <% if @project.primary_street.length >= 1 || @project.billing_street.length >= 1 %>
      <hr style="clear:both;">
    <% end %>
    


    
<!-- if prospect -->  
<% if @project.project_status == 'Prospect' %>
    <% if @project.client_contact.length >= 1 %>
      <div class="show3">      
          <u><%= model_class.human_attribute_name(:client_contact) %></u>:
          <%= @project.client_contact %>
      </div>
    <% end %>
    
    <% if @project.client_meeting.length >= 1 %>
      <div class="show3">      
          <u><%= model_class.human_attribute_name(:client_meeting) %></u>:
          <%= @project.client_meeting %>
      </div>
    <% end %>

          <% if @project.client_contact.length >= 1 || @project.client_meeting.length >= 1 %>
            <hr>
          <% end %>
<% end %>
<!-- end if prospect -->
  
<!-- no matter what -->    
    <div class="show3">
      <div class="well" style="text-align:center;float:left;width:30%;margin-right:3%;">  
      <strong>Project Proposal:</strong><br>
      <% if @project_proposals.exists? %>
          <% @project_proposals.each do |p| %>
            <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                       p.proposal_url, :class => 'btn btn-default', 
                       :title => 'View Attachment', :target => '_blank'  %>
                <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                       edit_project_proposal_path(p), :class => 'btn btn-primary', 
                       :title => 'Edit Attachment' %>
                <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                    project_proposal_path(p),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger', :title => 'Destroy Attachment' %>
                <%#= link_to '<i class="fa fa-upload"></i>'.html_safe,
                       edit_project_path(@project), :class => 'btn btn-primary', 
                       :title => 'Upload Additional Document' %><br>
          <% end %>
      <% else %>
        <%= link_to '<i class="fa fa-upload"></i>'.html_safe,
                       edit_project_path(@project), :class => 'btn btn-primary', 
                       :title => 'Upload' %>
      <% end %>
      </div>
      
    <div class="well" style="text-align:center;float:left;width:30%;margin-right:3%;">  
      <strong>Project Contract:</strong><br>
      <% if @project_contracts.exists? %>
          <% @project_contracts.each do |p| %>
            <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                       p.contract_url, :class => 'btn btn-default', 
                       :title => 'View Attachment', :target => '_blank'  %>
                <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                       edit_project_contract_path(p), :class => 'btn btn-primary', 
                       :title => 'Edit Attachment' %>
                <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                    project_contract_path(p),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger', :title => 'Destroy Attachment' %>
                <%#= link_to '<i class="fa fa-upload"></i>'.html_safe,
                       edit_project_path(@project), :class => 'btn btn-primary', 
                       :title => 'Upload Additional Document' %><br>
          <% end %>
      <% else %>
        <%= link_to '<i class="fa fa-upload"></i>'.html_safe,
                       edit_project_path(@project), :class => 'btn btn-primary', 
                       :title => 'Upload' %>
      <% end %>
      </div>
      
  <div class="well" style="text-align:center;float:left;width:30%;margin-right:3%;">  
  <strong>Revised Contract:</strong><br>
  <% if @project_prevcontracts.exists? %>
      <% @project_prevcontracts.each do |p| %>
        <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                   p.prevcontract_url, :class => 'btn btn-default', 
                   :title => 'View Attachment', :target => '_blank'  %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                   edit_project_prevcontract_path(p), :class => 'btn btn-primary', 
                   :title => 'Edit Attachment' %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                project_prevcontract_path(p),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger', :title => 'Destroy Attachment' %>
            <%#= link_to '<i class="fa fa-upload"></i>'.html_safe,
                   edit_project_path(@project), :class => 'btn btn-primary', 
                   :title => 'Upload Additional Document' %><br>
      <% end %>
  <% else %>
    <%= link_to '<i class="fa fa-upload"></i>'.html_safe,
         edit_project_path(@project), :class => 'btn btn-primary', :title => 'Upload' %>
  <% end %>
  </div>

    </div><!--end <div class="show3">-->
    
    <hr style="clear:both;">
<!-- no matter what -->  


    
<!-- if in process or complete -->   
<% if @project.project_status == 'In Process' || @project.project_status == 'Complete' %>
    <table style="width:100%;">
      <tr>
        <% if @project.project_start.length >= 1 || @project.project_finish.length >= 1 %>
        <td>
          <div class="show3">
            <u>Project Start</u>: <%= @project.project_start %><br>
            <u>Grand Opening</u>: <%= @project.project_finish %>
          </div>
        </td>
        <% end %>

        <% if @project.project_start.length >= 1 || @project.project_finish.length >= 1 %>
        <td>
        <% finish_parsed_time = Time.strptime(@project.project_finish,"%m/%d/%Y") %>
        <% start_parsed_time = Time.strptime(@project.project_start,"%m/%d/%Y") %>
    
        <div class="show3">
          <u>Project Duration</u>:
        <%= (finish_parsed_time.to_date - start_parsed_time.to_date).to_i %> days
        </div>
        
        </td>
        <% end %>
      </tr>
    </table>

          <% if @project.project_start.length >= 1 || @project.project_finish.length >= 1 %>
            <hr>
          <% end %>
<% end %>
<!-- end if in process or complete -->  

<!-- if in process or complete -->  
<% if @project.project_status == 'In Process' || @project.project_status == 'Complete' %>
  <% if @project.deal_terms.length >= 1 || @project.rate.length >= 1 %>
    <div class="show3">  
        <u><%= model_class.human_attribute_name(:rate) %></u>:
        <%= @project.rate %>
    
        <u style="margin-left:40px;"><%= model_class.human_attribute_name(:deal_terms) %></u>: 
        <%= @project.deal_terms %>
        
        <% if @project.project_status == 'Complete' %>
        <u style="margin-left:40px;"><%= model_class.human_attribute_name(:grand_total) %></u>: 
        <%= @project.grand_total %>
        <% end %>
    </div>
    <hr>
  <% end %>
<% end %>
<!-- end if in process or complete -->    


<% if @project.project_status == 'In Process' %>  
  <% if @project.additional_terms.length >= 1 %>
    <div class="show3">      
        <u><%= model_class.human_attribute_name(:additional_terms) %></u>:
        <%#= @project.additional_terms %>
        <%= simple_format(@project.additional_terms) %>
    </div>
  <% end %>
  
  <% if @project.staffing_notes.length >= 1 %>
    <div class="show3">
        <u><%= model_class.human_attribute_name(:staffing_notes) %></u>:
        <%#= @project.staffing_notes %>
        <%= simple_format(@project.staffing_notes) %>
    </div>
  <% end %>
  
<hr>
<% end %>
<!-- end if in process -->





<!-- if in process or complete -->  
<% if @project.project_status == 'In Process' || @project.project_status == 'Complete' %>
  <div class="well" style="text-align:center;float:left;width:30%;margin-right:3%;">  
  <strong>Project Invoices:</strong><br>
  <% if @project_invoices.exists? %>
      <% @project_invoices.each do |p| %>
        <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                   p.invoice_url, :class => 'btn btn-default', 
                   :title => 'View Attachment', :target => '_blank'  %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                   edit_project_invoice_path(p), :class => 'btn btn-primary', 
                   :title => 'Edit Attachment' %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                project_invoice_path(p),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger', :title => 'Destroy Attachment' %>
            <%#= link_to '<i class="fa fa-upload"></i>'.html_safe,
                   edit_project_path(@project), :class => 'btn btn-primary', 
                   :title => 'Upload Additional Document' %><br>
      <% end %>
  <% else %>
    <%= link_to '<i class="fa fa-upload"></i>'.html_safe,
         edit_project_path(@project), :class => 'btn btn-primary', :title => 'Upload' %>
  <% end %>
  </div>
  
  <div class="well" style="text-align:center;float:left;width:30%;margin-right:3%;">  
  <strong>Project W9:</strong><br>
  <% if @project_pw9s.exists? %>
      <% @project_pw9s.each do |p| %>
        <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                   p.pw9_url, :class => 'btn btn-default', 
                   :title => 'View Attachment', :target => '_blank'  %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                   edit_project_pw9_path(p), :class => 'btn btn-primary', 
                   :title => 'Edit Attachment' %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                project_pw9_path(p),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger', :title => 'Destroy Attachment' %>
            <%#= link_to '<i class="fa fa-upload"></i>'.html_safe,
                   edit_project_path(@project), :class => 'btn btn-primary', 
                   :title => 'Upload Additional Document' %><br>
      <% end %>
  <% else %>
    <%= link_to '<i class="fa fa-upload"></i>'.html_safe,
         edit_project_path(@project), :class => 'btn btn-primary', :title => 'Upload' %>
  <% end %>
  </div>
  
  <div class="well" style="text-align:center;float:left;width:30%;margin-right:3%;">  
  <strong>Project Documents:</strong><br>
  <% if @project_pdocuments.exists? %>
      <% @project_pdocuments.each do |p| %>
        <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                   p.pdocument_url, :class => 'btn btn-default', 
                   :title => 'View Attachment', :target => '_blank'  %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                   edit_project_pdocument_path(p), :class => 'btn btn-primary', 
                   :title => 'Edit Attachment' %>
            <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                project_pdocument_path(p),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger', :title => 'Destroy Attachment' %>
            <%#= link_to '<i class="fa fa-upload"></i>'.html_safe,
                   edit_project_path(@project), :class => 'btn btn-primary', 
                   :title => 'Upload Additional Document' %><br>
      <% end %>
  <% else %>
    <%= link_to '<i class="fa fa-upload"></i>'.html_safe,
         edit_project_path(@project), :class => 'btn btn-primary', :title => 'Upload' %>
  <% end %>
  </div>

  <hr style="clear:both;">

<% end %>
<!-- end if in process or complete -->  
    
    


    
    <% if @project.doc_links.length >= 1 %>
      <%= form_for @project, :html => { :class => "form-horizontal project" } do |f| %>
          <div class="show3">
            <%= model_class.human_attribute_name(:doc_links) %>:
            <%= f.text_field :doc_links, :class => 'form-control tag-test' %>
          </div>
      <% end %>
    <% end %>
    
  </div><!--end <div class="col-lg-8">-->


<hr style="clear:both;margin-top:40px;">

<!-- Back buttons -->
  <div class="col-lg-12" style="text-align:center;">
    
      <%= link_to '<i class="fa fa-chevron-left"></i>'.html_safe,
                    projects_path, :class => 'btn btn-default',
                    :title => 'Back to Projects' %>
      <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                    edit_project_path(@project), :class => 'btn btn-primary', 
                    :title => 'Edit Project'  %>
      <%= link_to '<i class="fa fa-remove"></i>'.html_safe,
                    project_path(@project),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger', :title => 'Delete Project' %>

  </div>
<!-- end Back buttons -->

<br><br><br>

     <script type="text/javascript">
      $(document).ready(function() {
          $(".tag-test").tagit({
          
              // Options
              readOnly: true,
   
              // Events
              onTagClicked: function(event, ui) {
                  console.log(ui.tag);
                  console.log(ui.tagLabel);
                  //window.location = ui.tag;
                  window.open(ui.tagLabel);
              },
              onTagLimitExceeded: function(event, ui) {
                  console.log(ui.tag);
              }
          
          });
  
      });
    </script> 